/*SASS-----------------------------------------*/
/*Mixins*/
/*Templates*/
/*Variables*/
/*---------------------------------------------*/
.header-menu {
  width: 100%;
  padding-top: 1.25%;
  /*15px;*/
  padding-bottom: 1.4166666667%;
  /*25px;*/
  outline: 1px solid red; }
  .header-menu__wrapper {
    position: relative;
    width: 100%;
    outline: 1px solid red; }
  .header-menu__logo {
    position: absolute;
    top: -22%;
    left: 50%;
    width: 138px;
    height: 70px;
    background: transparent url("../img/header__logo-bg.png") no-repeat center;
    -webkit-transform: translate(-50%, -22%);
        -ms-transform: translate(-50%, -22%);
            transform: translate(-50%, -22%);
    z-index: 1;
    outline: 1px solid red; }
  .header-menu__logo-img {
    -webkit-transform: translate(50%, 0%);
        -ms-transform: translate(50%, 0%);
            transform: translate(50%, 0%); }
  .header-menu__col {
    outline: 1px solid blue; }
  .header-menu__col_left {
    float: left;
    width: 32%;
    /*(1156-100%)*/ }
  .header-menu__col_right {
    float: right;
    width: 31.4%;
    /*(1156-100%)*/ }
  .header-menu__li {
    display: inline-block; }
  .header-menu__li_left {
    float: left; }
  .header-menu__li_right {
    float: right; }
  .header-menu__link {
    display: block;
    font-size: 1.4em;
    line-height: 1.85714em;
    font-family: "PT Sans Bold", Arial, sans-serif;
    color: #000;
    /*14/26*/
    text-transform: uppercase;
    outline: 1px solid red; }
    .header-menu__link:hover {
      color: #81b3d2; }
    .header-menu__link:active {
      color: #000;
      opacity: 0.3; }
  .header-menu__link_active {
    color: #766357; }
    .header-menu__link_active:hover {
      color: #604e43; }
    .header-menu__link_active:active {
      opacity: 0.3; }

@media only screen and (max-width: 768px) {
  .header-menu__col_left {
    width: 38%; }
  .header-menu__col_right {
    width: 38%; } }
