/*SASS-----------------------------------------*/
/*Mixins*/
/*Templates*/
/*Variables*/
/*---------------------------------------------*/
.header-menu {
  width: 88%;
  padding-top: 1.25%;
  /*15px;*/
  padding-left: 6%;
  /*72*/
  padding-bottom: 1.4166666667%;
  /*25px;*/
  padding-right: 6%;
  /*72*/
  outline: 1px solid red;
  /*
  &__col_left &__li:first-of-type {
    margin-right: 28%;//144
  }
  
  &__col_right &__li:last-of-type {
    //margin-left: 31.5%;//161
  }
  */ }
  .header-menu__wrapper {
    position: relative;
    width: 100%;
    outline: 1px solid red; }
  .header-menu__logo {
    position: absolute;
    top: -22%;
    left: 50%;
    width: 138px;
    height: 70px;
    background: transparent url("../img/header__logo-bg.png") no-repeat center;
    -webkit-transform: translate(-50%, -22%);
        -ms-transform: translate(-50%, -22%);
            transform: translate(-50%, -22%);
    z-index: 1;
    outline: 1px solid red; }
  .header-menu__logo-img {
    -webkit-transform: translate(50%, 0%);
        -ms-transform: translate(50%, 0%);
            transform: translate(50%, 0%); }
  .header-menu__col {
    outline: 1px solid blue; }
  .header-menu__col_left {
    float: left;
    width: 32%;
    /*(1156-100%)*/ }
  .header-menu__col_right {
    float: right;
    width: 31.4%;
    /*(1156-100%)*/ }
  .header-menu__li {
    display: inline-block; }
  .header-menu__li_left {
    float: left; }
  .header-menu__li_right {
    float: right; }
  .header-menu__link {
    display: block;
    font-size: 1.4em;
    line-height: 1.85714em;
    font-family: "PT Sans Bold", Arial, sans-serif;
    color: #000;
    /*14/26*/
    text-transform: uppercase;
    outline: 1px solid red; }

@media only screen and (max-width: 768px) {
  .header-menu__col_left {
    width: 38%; }
  .header-menu__col_right {
    width: 38%; } }
