/*SASS-----------------------------------------*/
/*Mixins*/
/*Templates*/
.intro__img_gorgeous-block::before, .intro__img_gorgeous-block::after {
  position: absolute;
  content: ""; }

/*Variables*/
/*---------------------------------------------*/
.intro {
  position: relative;
  text-align: center;
  outline: 1px solid red; }
  .intro__images-block {
    width: 100%;
    height: 507px;
    background: url("../img/intro__bg-shape.png") no-repeat center 100%, url("../img/intro__bg.png") no-repeat center 21%;
    background-size: contain, cover; }
  .intro__img {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    outline: 1px solid red; }
  .intro__img_welcome {
    top: 75px; }
  .intro__img_gorgeous-block {
    top: 130px;
    width: 14.6666666667%;
    /*176px;*/
    height: 30px; }
  .intro__img_gorgeous-block::before, .intro__img_gorgeous-block::after {
    top: 43%;
    width: 29px;
    height: 2px;
    background-color: #766357; }
  .intro__img_gorgeous-block::before {
    left: -39px; }
  .intro__img_gorgeous-block::after {
    right: -39px; }
  .intro__img_gorgeous {
    position: relative; }
  .intro__img_sedona {
    top: 213px; }
  .intro__img_because {
    top: 348px; }
  .intro__description-block {
    position: relative;
    padding-top: 60px;
    padding-bottom: 50px;
    background-color: #fff; }
  .intro__sedona-h3 {
    margin-bottom: 28px; }
