/*SASS-----------------------------------------*/
/*Mixins*/
/*Templates*/
/*Variables*/
/*---------------------------------------------*/
.features {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  .features__block-part {
    width: 33.33%;
    /*check*/
    text-align: center;
    outline: 1px solid red; }
  .features__block-part_bg {
    width: 66.67%;
    /*check*/ }
  .features__block-part_blue {
    padding-top: 55px;
    padding-bottom: 51px;
    background-color: #81b3d2; }
    .features__block-part_blue .features__sedona-h3_white,
    .features__block-part_blue .features__sedona-description_white {
      color: #fff; }
  .features__sedona-h3 {
    line-height: 1em;
    /*21*/
    margin-bottom: 24px; }
  .features__sedona-description {
    line-height: 1.5em;
    /*21*/ }
  .features__sedona-description_number {
    display: block;
    margin-bottom: 22px; }
  .features__block-part_icon-decription {
    padding-top: 55px;
    padding-bottom: 83px; }
    .features__block-part_icon-decription .features__block-part-icon {
      width: 75px;
      height: 80px;
      margin: 0 auto;
      margin-bottom: 25px;
      background: #fff url("../img/features__icons-sprite.png") no-repeat center;
      outline: 1px solid red; }
    .features__block-part_icon-decription .features__block-part-icon_house {
      background-position: -5px 0px; }
    .features__block-part_icon-decription .features__block-part-icon_food {
      background-position: -90px 0px; }
    .features__block-part_icon-decription .features__block-part-icon_gift {
      background-position: -168px -5px; }
  .features__block-part_grey {
    background-color: #eeeeee; }
  .features__block-part_decription {
    padding-top: 44px;
    padding-bottom: 60px; }
