/*SASS-----------------------------------------*/
/*Mixins*/
/*Templates*/
/*Variables*/
/*---------------------------------------------*/
.footer {
  position: relative;
  outline: 1px solid red; }
  .footer__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    width: 83%;
    height: 120px;
    padding: 0 102px;
    background-color: #fff;
    outline: 1px solid red; }
  .footer__wrapper_index {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8); }
  .footer__wrapper-block {
    padding-bottom: 37px;
    text-align: center;
    outline: 1px solid red; }
  .footer__twitter-tag {
    padding-top: 46px;
    padding-left: 30px;
    text-align: left;
    outline: 1px solid red; }
  .footer__socials {
    padding-top: 36px;
    padding-left: 29px;
    outline: 1px solid red; }
  .footer__social-link {
    display: inline-block;
    position: relative;
    margin-right: 3px;
    width: 46px;
    height: 48px;
    text-align: center;
    background-color: #81b3d2;
    cursor: pointer; }
    .footer__social-link:hover {
      background-color: #669ec0; }
      .footer__social-link:hover .footer__social-icon-font {
        color: white; }
    .footer__social-link:active {
      background-color: #5496bd; }
      .footer__social-link:active .footer__social-icon-font {
        color: rgba(255, 255, 255, 0.3); }
  .footer__social-link:last-of-type {
    margin-right: 0; }
  .footer__social-icon-font {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2em;
    color: #fff;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .footer__made-by {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding-top: 41px;
    outline: 1px solid red; }
    .footer__made-by .footer__sedona-description {
      margin-right: 9px;
      padding-top: 6px;
      outline: 1px solid red; }
  .footer__made-by-link {
    width: 113px;
    height: 39px;
    background: #fff url(../img/footer__made-by-logo.png) no-repeat center;
    outline: 1px solid red; }
    .footer__made-by-link:hover {
      background: #fff url(../img/footer__made-by-logo_hvr.png) no-repeat center; }
    .footer__made-by-link:active {
      background: #fff url(../img/footer__made-by-logo.png) no-repeat center;
      opacity: 0.3; }

.footer_index {
  height: 593px; }

@media only screen and (max-width: 768px) {
  .footer__twitter-tag {
    padding-left: 0; } }
