/*SASS-----------------------------------------*/
/*Mixins*/
/*Templates*/
.filter__range-values::before, .filter__range-toggle::after {
  position: absolute;
  content: ""; }

/*Variables*/
/*---------------------------------------------*/
.filter {
  min-height: 129px;
  padding-top: 25px;
  padding-bottom: 32px;
  background: #fff url(../img/hotels__filter-bg.png) no-repeat 0 0; }
  .filter__inner-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
  .filter__col {
    outline: 1px solid red; }
  .filter__col:first-of-type {
    margin-right: 9.75%; }
  .filter__col_range {
    position: relative;
    width: 31%;
    margin-left: auto;
    text-align: right; }
  .filter__col-title:not(.filter__col-title_range) {
    margin-bottom: 25px; }
  .filter__col-title {
    font-size: 1.6em;
    line-height: 1.3125em;
    font-family: "PT Sans Bold", Arial, sans-serif;
    color: #fff;
    text-transform: uppercase; }
  .filter__input-block {
    position: relative;
    margin-bottom: 25px; }
  .filter__input-block:last-of-type {
    margin-bottom: 0; }
  .filter__input:not(.filter__input_submit) {
    display: none; }
  .filter__icon-font, .filter__label {
    cursor: pointer; }
  .filter__icon-font {
    position: absolute;
    top: -11%;
    left: -3%;
    font-size: 2.5em;
    color: #fff; }
  .filter__label {
    position: relative;
    font-size: 1.4em;
    line-height: 1.5em;
    font-family: "PT Sans", Arial, sans-serif;
    color: #fff;
    padding-left: 40px;
    text-transform: uppercase; }
  .filter #pool:checked ~ .filter__icon-font_checkbox-unchecked,
  .filter #parking:checked ~ .filter__icon-font_checkbox-unchecked,
  .filter #wi-fi:checked ~ .filter__icon-font_checkbox-unchecked,
  .filter #hotel:checked ~ .filter__icon-font_checkbox-unchecked,
  .filter #motel:checked ~ .filter__icon-font_checkbox-unchecked,
  .filter #apartments:checked ~ .filter__icon-font_checkbox-unchecked {
    display: none; }
  .filter #pool:checked ~ .filter__icon-font_checkbox-checked,
  .filter #parking:checked ~ .filter__icon-font_checkbox-checked,
  .filter #wi-fi:checked ~ .filter__icon-font_checkbox-checked,
  .filter #hotel:checked ~ .filter__icon-font_checkbox-checked,
  .filter #motel:checked ~ .filter__icon-font_checkbox-checked,
  .filter #apartments:checked ~ .filter__icon-font_checkbox-checked {
    display: block;
    left: -2.5%; }
  .filter__col-title_range {
    margin-bottom: 12px;
    text-align: left; }
  .filter__range-values, .filter__input_submit {
    border: 2px solid #fff;
    -webkit-border-radius: 3px;
            border-radius: 3px; }
  .filter__range-values {
    position: relative;
    float: right;
    width: 95.5%;
    margin-bottom: 11px;
    padding-top: 5px;
    padding-bottom: 5px; }
  .filter__range-values::before {
    top: 50%;
    left: 50.5%;
    width: 2px;
    height: 80%;
    background-color: #fff;
    -webkit-transform: translate(-49.6%, -50%);
        -ms-transform: translate(-49.6%, -50%);
            transform: translate(-49.6%, -50%); }
  .filter__range-value {
    display: inline-block;
    width: 49.4%;
    font-size: 1.4em;
    line-height: 1.5em;
    font-family: "PT Sans", Arial, sans-serif;
    color: #fff;
    text-align: center;
    text-transform: uppercase; }
  .filter__range-wrapper {
    position: relative;
    float: right;
    width: 95.5%;
    height: 20px;
    outline: 1px solid red; }
  .filter__range-scale, .filter__range-bar, .filter__range-toggle {
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
  .filter__range-scale {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3); }
  .filter__range-bar {
    width: 80%;
    background-color: white; }
  .filter__range-toggle {
    width: 20px;
    height: 20px;
    background-color: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    cursor: pointer; }
    .filter__range-toggle::after {
      top: 50%;
      left: 50%;
      width: 4px;
      height: 4px;
      background-color: rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .filter__range-toggle:hover .filter__range-toggle::after,
    .filter__range-toggle:active .filter__range-toggle::after {
      background-color: #1c4f80; }
  .filter__range-toggle_left {
    left: -1%; }
  .filter__range-toggle_right {
    left: 79.3%; }
  .filter__input_submit {
    position: absolute;
    left: 49.7%;
    bottom: 1%;
    font-size: 1.4em;
    line-height: 1.5em;
    font-family: "PT Sans", Arial, sans-serif;
    color: #fff;
    width: 137px;
    padding-top: 6px;
    padding-bottom: 5px;
    background-color: transparent;
    border: 2px solid #fff;
    text-align: center;
    text-transform: uppercase;
    -webkit-transform: translateX(-49.7%);
        -ms-transform: translateX(-49.7%);
            transform: translateX(-49.7%); }
    .filter__input_submit:hover {
      color: #000;
      background-color: #fff; }

@media only screen and (max-width: 992px) {
  .filter__range-value {
    width: 48.9%; } }

@media only screen and (width: 768px) {
  .filter__col:first-of-type {
    margin-right: 12.3697916667%; }
  .filter__col_range {
    width: 230px; } }
