/*SASS-----------------------------------------*/
/*Mixins*/
/*Templates*/
/*Variables*/
/*---------------------------------------------*/
.sorting {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  outline: 1px solid red; }
  .sorting__block {
    outline: 1px solid red; }
  .sorting__block_title {
    width: 10%; }
  .sorting__block_categories {
    width: 40%; }
  .sorting__block_arrows {
    margin-left: auto;
    width: 5%; }
  .sorting__title, .sorting__link {
    font-size: 1.2em;
    line-height: 1.5em;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000;
    text-transform: uppercase; }
