/*SASS-----------------------------------------*/
/*Mixins*/
/*Templates*/
/*Variables*/
/*---------------------------------------------*/
.sorting {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 32px;
  padding-left: 71px;
  padding-bottom: 31px;
  padding-right: 71px; }
  .sorting__block {
    outline: 1px solid red; }
  .sorting__block_title {
    margin-right: 4.6%;
    font-size: 1.2em;
    line-height: 1.5em;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000;
    text-transform: uppercase;
    font-size: 1.4em;
    line-height: 1.5em; }
  .sorting__title, .sorting__link {
    font-size: 1.2em;
    line-height: 1.5em;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000;
    text-transform: uppercase; }
  .sorting__title {
    margin-right: 38px; }
  .sorting__link:not(.sorting__link_arrow) {
    margin-right: 30px; }
  .sorting__link:last-of-type {
    margin-right: 0px; }
  .sorting__link_active {
    color: #81b3d2; }
  .sorting__block_arrows {
    position: absolute;
    top: 65%;
    right: 5.5%;
    margin-left: auto;
    -webkit-transform: translate(-5.5%, -65%);
        -ms-transform: translate(-5.5%, -65%);
            transform: translate(-5.5%, -65%); }
  .sorting__link_arrow {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    outline: 1px solid red; }
  .sorting__icon-font {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.1em;
    color: rgba(0, 0, 0, 0.3);
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
