/*SASS-----------------------------------------*/
/*Mixins*/
/*Templates*/
/*Variables*/
/*---------------------------------------------*/
.filter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
  background: #fff url(../img/hotels__filter-bg.png) no-repeat 0 0;
  outline: 1px solid red; }
  .filter__col {
    width: 20%;
    outline: 1px solid red; }
  .filter__col_range {
    margin-left: auto; }
  .filter__col-title {
    font-size: 1.6em;
    line-height: 1.3125em;
    font-family: "PT Sans Bold", Arial, sans-serif;
    color: #fff;
    text-transform: uppercase; }
  .filter__label {
    font-size: 1.4em;
    line-height: 1.5em;
    font-family: "PT Sans", Arial, sans-serif;
    color: #fff;
    text-transform: uppercase; }
  .filter__range-value {
    font-size: 1.4em;
    line-height: 1.5em;
    font-family: "PT Sans", Arial, sans-serif;
    color: #fff;
    text-transform: uppercase; }
  .filter__input-submit {
    font-size: 1.4em;
    line-height: 1.5em;
    font-family: "PT Sans", Arial, sans-serif;
    color: #fff;
    text-transform: uppercase; }
