@charset "UTF-8";
@font-face {
  font-family: 'PT Sans';
  src: url("../fonts/PT Sans/PT Sans.eot");
  src: local("☺"), url("../fonts/PT Sans/PT Sans.woff") format("woff"), url("../fonts/PT Sans/PT Sans.ttf") format("truetype"), url("../fonts/PT Sans/PT Sans.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'PT Sans Bold';
  src: url("../fonts/PT Sans Bold/PT Sans Bold.eot");
  src: local("☺"), url("../fonts/PT Sans Bold/PT Sans Bold.woff") format("woff"), url("../fonts/PT Sans Bold/PT Sans Bold.ttf") format("truetype"), url("../fonts/PT Sans Bold/PT Sans Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

/*ICON-Font-------------------------------------------------*/
[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;
  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-sedona";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;
  speak: none; }

.icon-facebook::before {
  content: "\66"; }

/* "f" */
.icon-twitter::before {
  content: "\74"; }

/* "t" */
.icon-up-dir::before {
  content: "\25b2"; }

/* "▲" */
.icon-down-dir::before {
  content: "\25bc"; }

/* "▼" */
.icon-star::before {
  content: "\2605"; }

/* "★" */
.icon-check-off::before {
  content: "\2610"; }

/* "☐" */
.icon-check-on::before {
  content: "\2611"; }

/* "☑" */
.icon-calendar::before {
  content: "\e800"; }

/* "" */
.icon-plus::before {
  content: "\e801"; }

/* "" */
.icon-minus::before {
  content: "\e802"; }

/* "" */
.icon-youtube::before {
  content: "\f39e"; }

/* "" */
/*------------------------------------------------------*/
/*
*::-webkit-input-placeholder,
*:-moz-placeholder,
*::-moz-placeholder,
*:-ms-input-placeholder {

}
*/
/* Common styles */
* {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: #000000; }

body {
  font-size: 0.625em;
  background-color: lightgrey;
  /*check*/ }

img,
video,
audio {
  max-width: 100%;
  height: auto; }

ul {
  list-style: none; }

.body__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  /*check*/ }

.clearfix {
  display: table;
  clear: both;
  content: ""; }

.hidden {
  display: none; }

/* Media-queries-desktops/tablets */
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Media-queries-desktops/smartphones */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
