@import "sass-common.scss";

.header-menu {
  width: 100%;
  padding: {
    top: 1.25%;/*15px;*/
    bottom: 1.4166666667%;/*25px;*/
  }
  outline: 1px solid red;
  
  &__wrapper {
    position: relative;
    width: 100%;
    outline: 1px solid red;
  }
  
  &__logo {
    position: absolute;
    top: -22%;
    left: 50%;
    width: 138px;
    height: 70px;
    background: transparent url('../img/header__logo-bg.png') no-repeat center;
    transform: translate(-50%, -22%);
    z-index: 1;
    outline: 1px solid red;
  }
  
  &__logo-img {
    transform: translate(50%, 0%);
  }
  
  &__col {
    outline: 1px solid blue;
  }
  
  &__col_left {
    float: left;
    width: 32%;/*(1156-100%)*/
    //width: 38%;//768
  }
  
  &__col_right {
    float: right;
    width: 31.4%;/*(1156-100%)*/
    //width: 38%;//768
  }
    
  &__li {
    display: inline-block;
  }
  
  &__li_left {
    float: left;
  }
  
  &__li_right {
    float: right;
  }
  
  &__link {
    display: block;
    @include font(1.4em, 1.8571428571em, "PT Sans Bold", #000);/*14/26*/
    text-transform: uppercase;
    outline: 1px solid red;
    
    &:hover {
      color: $sedona-blue;
    }
    
    &:active {
      color: #000;
      opacity: 0.3;
    }
  }
  
  &__link_active {
    color: $sedona-light-brown;
    
    &:hover {
      color: $sedona-brown;
    }
    
    &:active {
      opacity: 0.3;
    }
  }
}

@media only screen and (max-width : 768px) {
  .header-menu__col_left {
    width: 38%;//768-check
  }
  
  .header-menu__col_right {
    width: 38%;//768-check
  }
}
