@import "sass-common.scss";

.intro {
  position: relative;
  text-align: center;
  outline: 1px solid red;
  
  &__images-block {
    width: 100%;
    height: 507px;
    background: 
      url('../img/intro__bg-shape.png') no-repeat center 100%, 
      url('../img/intro__bg.png') no-repeat center;
    background-size: contain, cover;  
  }
  
  &__img {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    transform: translate(-50%, 0%);
    outline: 1px solid red;
  }
  
  &__img_welcome {
    top: 75px;
  }
  
  &__img_gorgeous-block {
    top: 130px;
    width: 14.6666666667%;/*176px;*/
    height: 30px;
  }
  
  &__img_gorgeous-block::before,
  &__img_gorgeous-block::after {
    @extend %pseudo;
    top: 43%;
    width: 29px;
    height: 2px;
    background-color: #766357;
  }
  
  &__img_gorgeous-block::before {
    left: -39px;
  }
  
  &__img_gorgeous-block::after {
    right: -39px;
  }
  
  &__img_gorgeous {
    position: relative;
  }
  
  &__img_sedona {
    top: 213px;
  }
  
  &__img_because {
    top: 348px;
  }
  
  &__description-block {
    position: relative;
    padding: {
      top: 60px;
      bottom: 50px;
    }
    background-color: #fff;
  }
  
  &__sedona-h3 {
    margin-bottom: 28px;
  }
  
}