@import "sass-common.scss";
.features {
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: flex-start;
  flex-wrap: wrap;
  &__block-part {
    width: 33.33%;
    text-align: center;
  }
  &__block-part_bg {
    width: 66.67%;
    height: 256px;
  }
  &__block-part_bg_1 {
    background: #fff url('../img/features__bg_1.png') no-repeat center;
  }
  &__block-part_bg_2 {
    background: #fff url('../img/features__bg_2.png') no-repeat center;
  }
  &__block-part_blue {
    height: 148px;
    padding: {
      top: 55px;
      bottom: 51px;
    }
    background-color: $sedona-blue;
    .features__sedona-h3_white,
    .features__sedona-description_white {
      color: #fff;
    }
  }
  &__sedona-h3 {
    line-height: 1em;
    /*21*/
    margin-bottom: 24px;
  }
  &__sedona-description {
    line-height: 1.5em;/*21*/
    padding: 0 12%;//48(400)
  }
  &__sedona-description_number {
    display: block;
    margin-bottom: 22px;
  }
  &__block-part_icon-decription {
    height: 190px;
    padding: {
      top: 59px;
      bottom: 83px;
    }
    .features__block-part-icon {
      width: 75px;
      height: 80px;
      margin: 0 auto;
      margin-bottom: 25px;
      background: #fff url('../img/features__icons-sprite.png') no-repeat center;
    }
    .features__block-part-icon_house {
      background-position: -5px 0px;
    }
    .features__block-part-icon_food {
      background-position: -90px 0px;
    }
    .features__block-part-icon_gift {
      background-position: -168px -5px;
    }
  }
  &__block-part_grey {
    height: 148px;
    background-color: #eeeeee;
    
    .features__sedona-description {
      padding: 0 15.5%;//65-400
    }
  }
  &__block-part_decription {
    padding: {
      top: 44px;
      bottom: 60px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .features__block-part_bg_1 {
    background-image: url('../img/features__bg_1_768.png');
  }
  .features__block-part_bg_2 {
    background-image: url('../img/features__bg_2_768.png');
  }
}