@import "sass-common.scss";

.footer {
  position: relative;
    
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    max-width: 996px;
    width: 83%;
    height: 120px;
    padding: 0 8.5%;//0 102
    background-color: #fff;
  }
  
  &__wrapper_index {
    position: absolute;
    bottom: 0;
    left: 0;
    
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  &__wrapper-block {
    padding-bottom: 37px;
    text-align: center;
  }
  
  &__twitter-tag {
    padding: {
      top: 46px;
      left: 30px;
    }
    text-align: left;
  }
  
  &__socials {
    padding: {
      top: 36px;
      left: 29px;
    }
  }
  
  &__social-link {
    display: inline-block;
    position: relative;
    margin-right: 3px;
    width: 46px;
    height: 48px;
    text-align: center;
    background-color: $sedona-blue;
    cursor: pointer;
    
    &:hover {
      background-color: $sedona-blue_hover;
      
      .footer__social-icon-font {
        color: $sedona-font-color_hover;  
      }
    }
  
    &:active {
      background-color: $sedona-blue_active;
      
      .footer__social-icon-font {
        color: $sedona-font-color_active;
      }
    }
  }
  
  &__social-link:last-of-type {
    margin-right: 0; 
  }
  
  &__social-icon-font {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2em;
    color: #fff;
    transform: translate(-50%, -50%);
  }
  
  &__made-by {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    padding-top: 41px;
      
    .footer__sedona-description {
      margin-right: 9px;
      padding-top: 6px;
    }
  }
  
  &__made-by-link {
    width: 113px;
    height: 39px;
    background: #fff url(../img/footer__made-by-logo.png) no-repeat center;
        
    &:hover {
      background: #fff url(../img/footer__made-by-logo_hvr.png) no-repeat center;
    }
    
    &:active {
      background: #fff url(../img/footer__made-by-logo.png) no-repeat center;
      opacity: 0.3;
    }
  }
}

.footer_index {
  height: 593px;
}

@media only screen and (max-width: 768px) {
  .footer__twitter-tag {
    padding-left: 0; 
  }
}