@import '../libs/sass-common.scss';

.search-result {
  padding: {
    top: 26px;
    bottom: 24px;
  }
  border: {
    top: 1px solid rgba(0, 0, 0, 0.3);
    bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
  
  &__inner-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;  
  }
  
  &:nth-of-type(2n) {
    border: none;
  }
  
  &__col {
    height: 100px;
  }
  
  &__col_img {
    height: 95px;
    padding-top: 5px;
    margin-right: 30px;
  }
  
  &__img {
    height: 90px;
  }
  
  &__name {
    display: block;
    margin-bottom: 8px;
    @include font(2.1em, 1.2380952381em, "PT Sans Bold", #000);//21/26//
    text-transform: uppercase;
    
    &:hover {
      color: $sedona-blue;
    }
    
    &:active {
      color: $sedona-grey;
    }
  }
  
  &__col_description {
    width: 258px;
  }
  
  &__description-wrapper {
    width: 100%;
  }
  
  &__details-block {
    float: left;
  }
  
  &__price-block {
    float: right;
  }
  
  &__description,
  &__price,
  &__rating {
    @include font(1.4em, 1.5em, "PT Sans", #333333);//14/21//
    text-transform: uppercase;
  }
  
  &__description,
  &__price {
    display: block;
    margin-bottom: 13px;
  }
    
  &__btn {
    display: inline-block;
    padding: {
      top: 3px;
      bottom: 3px;
    }
    @include font(1.4em, 1.5em, "PT Sans", #fff);//14/21//
    text-align: center;
    text-transform: uppercase;
      
    &__btn:last-of-type {
      margin-right: 0;
    }
  }
  
  &__btn_details {
    width: 110px;
    background-color: $sedona-blue;
    
    &:hover {
      background-color: $sedona-blue_hover;
    }
    
    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: $sedona-blue_active;
    }
  }
  
  &__btn_to-book {
    width: 142px;
    background-color: $sedona-light-brown;
    
     &:hover {
      background-color: $sedona-brown_hover;
    }
    
    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: $sedona-brown_active;
    }
  }
  
  &__col_rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 20%;
    height: 95px;
    margin-left: auto;
    padding-bottom: 5px;
    text-align: right;
  }
  
  &__stars,
  &__rating-block {
    width: 100%;
  }  
  
  &__stars {
    float: right;  
  }
  
  &__li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 22px;
  }
  
  &__icon-font {
    @extend %center;
    display: block;
    font-size: 2em;
    color: $sedona-blue;
  }
  
  &__rating {
    float: right;
    display: block;
    width: 111px;
    padding: {
      top: 3px;
      bottom: 3px;
    }
    text-align: center;
    text-transform: uppercase;
    background-color: #f2f2f2;
  }
}