@import "sass-common.scss";

.filter {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  background: #fff url(../img/hotels__filter-bg.png) no-repeat 0 0;
  outline: 1px solid red;
  
  &__col {
    width: 20%;//check
    outline: 1px solid red;
  }
  
  &__col_range {
    margin-left: auto;
  }
  
  &__col-title {
    @include font(1.6em, 1.3125em, "PT Sans Bold", #fff);//16/21//
    text-transform: uppercase;
  }
  
  &__label {
    @include font(1.4em, 1.5em, "PT Sans", #fff);//14/21//
    text-transform: uppercase;
  }
  
  &__range-value {
    @include font(1.4em, 1.5em, "PT Sans", #fff);//14/21//
    text-transform: uppercase;
  }
  
  &__input-submit {
    @include font(1.4em, 1.5em, "PT Sans", #fff);//14/21//
    text-transform: uppercase;
  }
}