@import "sass-common.scss";

.sorting {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  outline: 1px solid red;
  
  &__block {
    outline: 1px solid red;
  }
  
  &__block_title {
    width: 10%;//check
  }
  
  &__block_categories {
    width: 40%;//check
  }
  
  &__block_arrows {
    margin-left: auto;
    width: 5%;//check
  }
  
  &__title,
  &__link {
    @include font(1.2em, 1.5em, "PT Sans", #000);//12/18//
    text-transform: uppercase;
  }
}