@import '../libs/sass-common.scss';

.sorting {
  padding: {
    top: 32px;
    bottom: 31px;
  }
  
  &__inner-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
  
  &__block_title {
    margin-right: 4.6%;
    @include font(1.2em, 1.5em, "PT Sans", #000);//12/18////check
    text-transform: uppercase;
    font-size: 1.4em;//check
    line-height: 1.5em;//check
  }
  
  &__title,
  &__link {
    @include font(1.2em, 1.5em, "PT Sans", #000);//12/18//
    text-transform: uppercase;
  }
  
  &__link {
    color: rgba(0, 0, 0, 0.4);
    border-bottom: 1px dotted $sedona-blue;
    
    &:hover {
      color: $sedona-blue;
    }
    
    &:active {
      color: #000;
      border-bottom: none;
    }
  }
  
  &__title {
    margin-right: 38px;
  }
  
  &__link:not(.sorting__link_arrow) {
    margin-right: 30px;
  }
  
  &__link:last-of-type {
    margin-right: 0px;
  }
  
  &__block_arrows {
    position: absolute;
    top: 65%;
    right: 5.5%;
    margin-left: auto;
    transform: translate(-5.5%, -65%);
  }
  
  &__link_arrow {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: none;
  }
  
  &__icon-font {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.1em;
    color: rgba(0, 0, 0, 0.3);
    transform: translate(-50%, -50%);
  }
  
  &__link_arrow:hover > &__icon-font {
    color: #000;
  }
    
  &__link_arrow:active > &__icon-font {
    color: $sedona-blue;
  }
  
  &__link_active {
    color: $sedona-blue;
    border-bottom: none;
  }
}