@import '../libs/sass-common.scss';

.filter {
  min-height: 129px;//215
  padding: {
    top: 25px;
    bottom: 32px;
  }
  background: #fff url(../img/hotels__filter-bg.png) no-repeat 0 0;
  
  &__inner-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;  
  }
  
  &__col:first-of-type {
    margin-right: 9.75%//117px;
  }
  
  &__col_range {
    position: relative;
    width: 31%;//329px;
    margin-left: auto;
    text-align: right;
  }
  
  &__col-title:not(&__col-title_range) {
    margin-bottom: 25px;
  }
  
  &__col-title {
    @include font(1.6em, 1.3125em, "PT Sans Bold", #fff);//16/21//
    text-transform: uppercase;
  }
  
  &__input-block {
    position: relative;
    margin-bottom: 25px;
  }
  
  &__input-block:last-of-type {
    margin-bottom: 0;
  }
  
  &__input:not(&__input_submit) {
    display: none;
  }
      
  &__icon-font,
  &__label {
    cursor: pointer;
  }
  
  &__icon-font {
    position: absolute;
    top: -11%;
    left: -3%;
    font-size: 2.5em;
    color: #fff;
  }
  
  &__label {
    position: relative;
    @include font(1.4em, 1.5em, "PT Sans", #fff);//14/21//
    padding-left: 40px;
    text-transform: uppercase;
  }
  
  #pool:checked ~ .filter__icon-font_checkbox-unchecked,
  #parking:checked ~ .filter__icon-font_checkbox-unchecked,
  #wi-fi:checked ~ .filter__icon-font_checkbox-unchecked,
  #hotel:checked ~ .filter__icon-font_checkbox-unchecked,
  #motel:checked ~ .filter__icon-font_checkbox-unchecked,
  #apartments:checked ~ .filter__icon-font_checkbox-unchecked {
    display: none;
  }
  
  #pool:checked ~ .filter__icon-font_checkbox-checked,
  #parking:checked ~ .filter__icon-font_checkbox-checked,
  #wi-fi:checked ~ .filter__icon-font_checkbox-checked,
  #hotel:checked ~ .filter__icon-font_checkbox-checked,
  #motel:checked ~ .filter__icon-font_checkbox-checked,
  #apartments:checked ~ .filter__icon-font_checkbox-checked {
    display: block;
    left: -2.5%;
  }
  
  &__col-title_range {
    margin-bottom: 12px;
    text-align: left;
  }
  
  &__range-values,
  &__input_submit {
    border: 2px solid #fff;
    border-radius: 3px;  
  }
  
  &__range-values {
    position: relative;
    float: right;
    width: 95.5%;
    margin-bottom: 11px;
    padding: {
      top: 5px;
      bottom: 5px;
    }
  }
  
  &__range-values::before {
    @extend %pseudo;
    top: 50%;
    left: 50.5%;
    width: 2px;
    height: 80%;
    background-color: #fff;
    transform: translate(-49.6%, -50%);
  }
  
  &__range-value {
    display: inline-block;
    width: 49.4%;
    @include font(1.4em, 1.5em, "PT Sans", #fff);//14/21//
    text-align: center;
    text-transform: uppercase;
  }
  
  &__range-wrapper {
    position: relative;
    float: right;
    width: 95.5%;
    height: 20px;
  }
  
  &__range-scale,
  &__range-bar,
  &__range-toggle {
    position: absolute;
    top: 50%;
    left: 0;
    height: 2px;
    transform: translateY(-50%);
  }
  
  &__range-scale {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  &__range-bar {
    width: 80%;
    background-color: rgba(255, 255, 255, 1);
  }
  
  &__range-toggle {
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
  }
  
  &__range-toggle_left {
    left: -1%;
  }
  
  &__range-toggle_right {
    left: 79.3%;
  }
  
  &__range-toggle-dot {
    @extend %center;
    width: 4px;
    height: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
  }
  
  &__range-toggle:hover > &__range-toggle-dot,
  &__range-toggle:active > &__range-toggle-dot {
    background-color: #1c4f80;
  }
  
  &__input_submit {
    position: absolute;
    left: 49.7%;
    bottom: 1%;
    @include font(1.4em, 1.5em, "PT Sans", #fff);//14/21//
    width: 137px;
    padding: {
      top: 6px;
      bottom: 5px;
    }
    background-color: transparent;
    border: 2px solid #fff;
    text-align: center;
    text-transform: uppercase;
    transform: translateX(-49.7%);
    
    &:hover {
      color: #000;
      background-color: #fff;
    }
  }
}

@media only screen and (max-width: 992px) {
  .filter {
    &__range-value {
      width: 48.9%;
    }
  }
}

@media only screen and (width: 768px) {
  .filter {
    
    &__col:first-of-type {
      margin-right: 12.3697916667%;//95px;
    }
    
    &__col_range {
      width: 29.9479166667%//230px;
    }
  }
}